version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      VITE_TOKEN_ADDRESS: ${VITE_TOKEN_ADDRESS}
      VITE_FAUCET_ADDRESS: ${VITE_FAUCET_ADDRESS}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

